* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background-image: url(pexels-pramodtiwari-13971179.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#txt1 {
    color: grey;
}

h1 {
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: bold;
}

#pn {
    width: 24%;
}

#email {
    width: 50%;
}

#password {
    width: 50%;
}

#botoes {
    font-weight: bold;
    position: relative;
    left: 3.5%;
}

#botao1,
#botao2 {
    width: 20%;
}

#botao1 {
    cursor: pointer;
    background-color: gray;
    color: white;
    border: solid red;
}




/* responsividade */
@media only screen and (max-width:860px) {

    #nome {
        gap: 14px;
        justify-content: center;
    }

    #pn {
        width: 46%;
    }

    #email {
        width: 96.5%;
    }

    #password {
        width: 96.5%;
    }

    #botoes {
        justify-content: center;
        left: 0;
    }

    #botao1,
    #botao2 {
        padding: 2%;
        width: 46.5%;
    }

    section {
        text-align: center;
    }

}