* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    background-image: url(pexels-pramodtiwari-13971179.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    color: blue;
    text-decoration: underline;
}

#txt1 {
    color: grey;
}

h1 {
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 0 0 3px;
}

input:focus{
    color: white;
    font-weight: bold;
}

#nome {
    gap: 1%;
}

#pn {
    background-color: rgb(61, 75, 88);
    width: 24.5%;
    transition: 0.5s;
}

#pn:focus{
background-color: white;
}

#email {
    background-color: rgb(61, 75, 88);
    width: 50%;
    transition: 0.5s;
}

#email:focus{
    background-color: white;
}

#password {
    background-color: rgb(61, 75, 88);
    width: 50%;
    transition: 0.5s;
}

#password:focus{
    background-color: white;
}

#botoes {
    font-weight: bold;
    position: relative;
    left: 3.5%;
}

#botao1,
#botao2 {
    width: 20%;
}

#botao1 {
    cursor: pointer;
    background-color: white;
    color: rgb(0, 0, 0);
    border: solid gray;
}

#botao2 {
  background-color: rgb(46, 96, 183);
    color: white;
}




/* responsividade */
@media only screen and (max-width:860px) {

    #nome {
        gap: 0.5%;
        margin: auto;
    }

    #pn {
        margin: auto;
        width: 46%;
    }

    #email {
        width: 96.5%;
    }

    #password {
        width: 96.5%;
    }

    #botoes {
        justify-content: center;
        left: 0;
    }

    #botao1,
    #botao2 {
        padding: 2%;
        width: 46.5%;
    }

    section {
        text-align: center;
    }

}